/* English.css */
.english-container {
    background-image: url('/public/assets/english.png');
    background-size: cover;
    background-position: top;
    min-height: 100vh;
    color: white;
  }

footer{
    margin-top: 80px;
}